@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";


h1, h2, h3, h4, h5{
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}




.img {
    width: 12% !important;
    height: 21%;
}
.img2 {
    width: 6% !important;
    height: 21%;
}